  <header class="primary-header">
    <div class="logo">
      <p>AppChord</p>
    </div>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation"
    aria-expanded="false"><span class="sr-only">Menu</span>
    </button>

    <nav>
      <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
        <li class="active"><a href="/"><span aria-hidden="true">00</span>Home</a></li>
        <li><a href="/songs"><span aria-hidden="true">01</span>All Songs</a></li>
        <li><a href="/songs/new"><span aria-hidden="true">02</span>New Song</a></li>
        <li><a href="#"><span aria-hidden="true">03</span>About Us</a></li>
        
      </ul>
    </nav>
  </header>

 