.logo > p {
  font-size: 2rem;
  margin-left: 1rem;
  font-family: 'Rubik Dirt', cursive;
}

.primary-header {
  display:flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  background-color: none;
  z-index: 999;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display:flex;
  gap: 1.6rem;
  list-style: none;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  width: 90%;
  
  background: rgba(83, 61, 228, 0.2);
  backdrop-filter: blur(2rem);
  border-radius: 1em;
}

.primary-navigation a {
  text-decoration: none;
  color: black
}

.primary-navigation li {
  transition: transform 200ms ease-in;

}

.primary-navigation li:hover {
  transform: scale(1.3);
}

.primary-navigation a > span {
  font-weight: 700;
  margin-inline-end: .5rem;
}

@media (max-width: 38rem) {
  .primary-navigation {
    gap: 2em;

    position: fixed;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position:absolute;
    z-index: 1000;
    background: url('/styles/assets/menu-icon.svg');
    background-size: cover;
    width:2rem;
    border: 0;
    aspect-ratio: 1.23;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background: url('/styles/assets/menu-icon-close.svg');
    background-size: cover;
  }

} 

@media (min-width: 38em) and (max-width: 55em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media(min-width: 38em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
  }